$bg-light: rgba(252, 252, 253, 1);
$bg-dark: rgba(20, 20, 22, 1);
$primary-color: rgba(255, 89, 44, 1);
$text-grey: rgba(119, 126, 144, 1);
$text-dark: rgba(35, 38, 47, 1);
$text-neutral-3: rgba(53, 57, 69, 1);

$grey-border: rgb(230, 232, 236);

$blue-box: rgba(55, 114, 255, 1);
$purple-box: rgba(151, 87, 215, 1);
$pink-box: rgba(239, 70, 111, 1);
$green-box: rgba(69, 178, 107, 1);
